name: Performances Tests

on:
    pull_request:
    release:
        types: [published]

# Cancels all previous workflow runs for pull requests that have not completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name for pull requests
    # or the commit hash for any other events.
    group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
    cancel-in-progress: true

jobs:
    determine-branches:
        name: Determine which branches to compare performance for
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.get-release-branches.outputs.matrix || steps.get-pull-request-branches.outputs.matrix }}
        steps:
            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4

            - name: Set branches to current WordPress Core plus previous and current Gutenberg versions
              id: get-release-branches
              if: github.event_name == 'release'
              env:
                  PLUGIN_VERSION: ${{ github.event.release.name }}
              run: |
                  IFS=. read -ra PLUGIN_VERSION_ARRAY <<< "$PLUGIN_VERSION"
                  CURRENT_RELEASE_BRANCH="release/${PLUGIN_VERSION_ARRAY[0]}.${PLUGIN_VERSION_ARRAY[1]}"
                  PREVIOUS_VERSION_BASE_10=$((PLUGIN_VERSION_ARRAY[0] * 10 + PLUGIN_VERSION_ARRAY[1] - 1))
                  PREVIOUS_RELEASE_BRANCH="release/$((PREVIOUS_VERSION_BASE_10 / 10)).$((PREVIOUS_VERSION_BASE_10 % 10))"
                  WP_VERSION=$(awk -F ': ' '/^Tested up to/{print $2}' readme.txt)
                  IFS=. read -ra WP_VERSION_ARRAY <<< "$WP_VERSION"
                  WP_BRANCH="wp/${WP_VERSION_ARRAY[0]}.${WP_VERSION_ARRAY[1]}"
                  echo "::set-output name=matrix::[{\"branch\":\"$WP_BRANCH\"},{\"branch\":\"$PREVIOUS_RELEASE_BRANCH\"},{\"branch\":\"$CURRENT_RELEASE_BRANCH\"}]"

            - name: Set branches to current PR's and trunk
              id: get-pull-request-branches
              if: github.event_name == 'pull_request'
              run: echo "::set-output name=matrix::[{\"branch\":\"$GITHUB_SHA\"},{\"branch\":\"trunk\"}]"

    performance-tests:
        name: Run performance tests
        needs: determine-branches
        runs-on: ubuntu-latest
        strategy:
            matrix:
                include: ${{ fromJson( needs.determine-branches.outputs.matrix ) }}
        env:
            tests-branch: ${{ fromJson( needs.determine-branches.outputs.matrix )[ 0 ] }} # First matrix entry also serves as tests branch
        steps:
            - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
              with:
                  ref: ${{ env.tests-branch }}
                  path: performance-tests

            - name: Use Node.js 14.x
              uses: actions/setup-node@46071b5c7a2e0c34e49c3cb8a0e792e86e18d5ea # v2.1.5
              with:
                  node-version: 14.x

            - name: Cache node modules
              uses: actions/cache@26968a09c0ea4f3e233fdddbafd1166051a095f6 # v2.1.4
              env:
                  cache-name: cache-node-modules
              with:
                  # npm cache files are stored in `~/.npm` on Linux/macOS
                  path: ~/.npm
                  key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

            - name: Install dependencies and build packages
              working-directory: performance-tests
              run: npm install && npm run build:packages

            - name: Copy performance-tests directory to environment directory
              run: cp -R performance-tests environment

            - name: Start the WordPress environment
              working-directory: environment
              run: npm run wp-env start

            - name: Switch environment to ${{ matrix.branch }} branch
              uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
              with:
                  ref: ${{ matrix.branch }}
                  path: environment

            # TODO: Run tests

            - name: Stop the WordPress environment
              working-directory: environment
              run: npm run wp-env stop
